@inherits LayoutComponentBase
@using Wuphf.Client.Pages
@using Wuphf.Client.Models.Dialog
@using Wuphf.Shared.Dialog
@using System.Threading
@using System.Threading.Tasks
@inject IJSRuntime jsrun
<div class="page">
    <nav class="sidebar @activeClass">
        <NavMenu />
    </nav>

    <div class="main">
        <div class="top-row px-4">
            <nav class="navbar navbar-dark">
                <button class="navbar-toggler" @onclick="OnSidebarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <a href="" target="_blank" class="ml-md-auto">Home</a>
        </div>

        <div class="content">
            @Body
            <Modal @ref="modal">
                <Title>@Title</Title>
                <Body>
                    <p>
                        @ErrorMessage
                    </p>
                </Body>
                <Footer>
                    @if (Buttons == DialogButtons.OK)
                    {
                        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="OnOK">OK</button>
                    }
                </Footer>
            </Modal>
        </div>
    </div>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code {

    private Modal modal { get; set; }
    private string ErrorMessage;
    private string Title;
    private DialogButtons Buttons;
    private TaskCompletionSource<string> CompletionSource;
    string activeClass;
    void OnSidebarCollapse()
    {
        if (string.IsNullOrEmpty(activeClass))
        {
            activeClass = "active";
        }
        else
        {
            activeClass = "";
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        PubSub.Hub.Default.Subscribe<MsgBoxShowEvent>((MsgBoxShowEvent msg) =>
        {
            ErrorMessage = msg.Message;
            Title = msg.Title;
            CompletionSource = msg.CompletionSource;
            Buttons = msg.Buttons;
            modal.Open();
            StateHasChanged();
        });
    }
    public void OnOK()
    {
        modal.Close();
        CompletionSource.TrySetResult("OK");
    }
} 