@page "/appointments"
@inject HttpClient Http
@using Wuphf.Shared
<style>
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .listContainer {
        display: grid;
        grid-template-rows: 50px 100%;
        margin: 10px;
    }
    .listTable {
        grid-row-start: 2;
    }
    .detailContianer {
        display: grid;
        grid-template-rows: 50px 100px 50px 35px;
    }
    .reoccuranceContainer {
        display: grid;
        grid-template-columns: 140px 80%;
    }
    button {
        width: 100%;
        margin: 2px;
    }
</style>
<div class="container">
    <div class="listContainer">
        <div><button class="btn btn-primary" @onclick="OnAdd">Add</button></div>
        <div class="listTable">
            <table class="table">
                <thead>
                <td>Appointment</td>
                <td></td>
                <td></td>
                </thead>
                <tbody>
                    @foreach (var appt in appointments)
                    {
                        <tr>
                            <td>@appt.Description</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => OnEdit(appt)">
                                    <span class="oi oi-pencil"></span>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => OnRemove(appt)">
                                    <span class="oi oi-x"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="detailContainer">
        @if (hasSelectedAppointment)
        {
            <EditForm Model="@selectedAppointment" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                
                <div>
                    <input type="text" @bind-value="selectedAppointment.Description" />
                    Time: <input type="time" @bind-value="selectedAppointment.ScheduleTime" />
                </div>
                <div class="reoccuranceContainer">
                    <div>
                        Reoccurance:<br />
                        <InputRadioGroup Name="reoccurance" @bind-Value="selectedAppointment.Reoccurance">
                            <InputRadio Name="reoccurance" Value="ReoccuranceTypes.None" />
                            None<br>
                            <InputRadio Name="reoccurance" Value="ReoccuranceTypes.Daily" />
                            Daily<br>
                            <InputRadio Name="reoccurance" Value="ReoccuranceTypes.Weekly" />
                            Weekly
                        </InputRadioGroup>
                    </div>
                    <div>
                        <input type="checkbox" /> Sunday
                        <input type="checkbox" /> Monday
                        <input type="checkbox" /> Tuesday
                        <input type="checkbox" /> Wednesday
                        <input type="checkbox" /> Thursday
                        <input type="checkbox" /> Friday
                        <input type="checkbox" /> Saturday
                    </div>
                </div>
                <div>
                    End Date: <input type="date" @bind-value="selectedAppointment.EndDate" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">OK</button>
                </div>
            </EditForm>
        }
    </div>
</div>
    @code {
        private bool hasSelectedAppointment;
        private Appointment selectedAppointment;
        private List<Appointment> appointments = new List<Appointment>();
        protected override async Task OnInitializedAsync()
        {
            var result = await Http.GetFromJsonAsync<Appointment[]>("Appointment");
            appointments = result?.ToList();
        }
        public void OnAdd()
        {
            if (appointments == null)
            {
                appointments = new List<Appointment>();
            }
            selectedAppointment = new Appointment();
            hasSelectedAppointment = true;
            appointments.Add(selectedAppointment);
            StateHasChanged();
        }
        public void OnEdit(Appointment appt)
        {
            selectedAppointment = appt;
            hasSelectedAppointment = true;
            StateHasChanged();
        }
        public void OnRemove(Appointment appt)
        {
            appointments.Remove(appt);
            StateHasChanged();
        }

        private void HandleValidSubmit()
        {

        }


    }
