@page "/home"
@inject HttpClient Http
@using Wuphf.Shared.Appointments

@if (details != null)
{
<div class="container">
    <div><h2>Task</h2></div>
    <div><h2>Time</h2></div>
    <div><h2>Complete</h2></div>
    @foreach (var dtl in details)
    {
        <div><h2>@dtl.Appointment?.Description</h2></div>
        <div> <h2>@dtl.SchedDateTime.ToShortDateString() @dtl.SchedDateTime.ToShortTimeString() </h2></div>
        <div> <input type="checkbox" @bind="@ticked" @onmouseup="() => {OnDetailsCompleted(dtl); }"/></div>
    }
</div>

}
@code {
    private bool ticked = false;
    private List<AppointmentDetail> details;
    protected async override Task OnInitializedAsync()
    {
        var dtls = await Http.GetFromJsonAsync<AppointmentDetail[]>($"AppointmentDetail/{DateTime.Now.ToString("s")}");
        this.details = dtls.ToList();
        StateHasChanged();
    }
    public async void OnDetailsCompleted(AppointmentDetail dtl)
    {
        dtl.CompletionDateTime = DateTime.Now;
        details.Remove(dtl);
        await Http.PostAsJsonAsync<AppointmentDetail>("AppointmentDetail", dtl);
        StateHasChanged();
        ticked = false;
        StateHasChanged();
    }
}
