@page "/"
@using Wuphf.Client.Models.Session
@using Wuphf.Shared.Session
@inject NavigationManager navigationManager
@inject Session session 

<div class="container">

    <div>
        <img class="phone" src="/images/phone.png" />
    </div>

    <div class="welcome">
        <center><h1>Welcome to Wuphf!</h1></center>
    </div>


    <div class="AccountContainer">
        <div></div>
        <div>
            <button class="btn btn-primary" @onclick="OnCreateAccount">Create Account</button>
        </div>
        <div>
            <button class="btn btn-primary btn-login" @onclick="OnLogin">Login</button>
        </div>
    </div>

    <div class="laptopCell">
        <img class="laptop" src="/images/laptop.png" />
    </div>
    <div class="tabletCell">
        <img class="tablet" src="/images/tablet.jpg" />
    </div>
</div>
@code{
    private bool IsLoggedIn;
    protected override void OnInitialized()
    {
        PubSub.Hub.Default.Subscribe<SessionStatusChangedEvent>(OnSessionStatusChanged);
        base.OnInitialized();
        if (!string.IsNullOrEmpty(session?.Token))
        {
            navigationManager.NavigateTo("AppointmentDetails");
        }
    }
    public void OnCreateAccount()
    {
        navigationManager.NavigateTo("createaccount");
    }
    public void OnLogin()
    {
        navigationManager.NavigateTo("login");
    }
    public void OnSessionStatusChanged(SessionStatusChangedEvent sessionStatus)
    {
        IsLoggedIn = !string.IsNullOrEmpty(sessionStatus.Token);
        if (IsLoggedIn)
        {
            navigationManager.NavigateTo("AppointmentDetails");
        }
    }
}