@page "/"
@inject NavigationManager navigationManager 
<style>
    .container {
        display: grid;
        grid-template-columns: 20% 15% 30% 15% 20%;
        grid-template-rows: 200px 130px 240px;
    }

    .phone {
        justify-items: left;
        width: 200px;
        height: 150px;
    }
    .welcome {
        margin-top: 75px;
    }

    .AccountContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    button {
        width: 100%;
    }
    .tablet {
        width: 240px;
        height: 240px;
    }
</style>
<div class="container">

    <div>
        <img class="phone" src="/images/phone.png" />
    </div>

    <div></div>
    <div class="welcome">
        <center><h1>Welcome to Wuphf!</h1></center>
    </div>

    <div></div>

    <div></div>

    <div></div>

    <div></div>

    <div class="AccountContainer">
        <div></div>
        <div>
            <button class="btn btn-primary" @onclick="OnCreateAccount">Create Account</button>
        </div>
        <div>
            <button class="btn btn-primary" @onclick="OnLogin">Login</button>
        </div>
    </div>

    <div></div>
    <div></div>
    <div></div>
    <div>
        <img class="tablet" src="/images/tablet.jpg" />
    </div>
</div>
@code{
    public void OnCreateAccount()
    {
        navigationManager.NavigateTo("fetchdata");
    }
    public void OnLogin()
    {
        navigationManager.NavigateTo("counter");
    }
}