@page "/"
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .phone {
            justify-items: left;
            width: 200px;
            height: 150px;
        }
        .welcome {
            margin-top: 75px;
        }

        .AccountContainer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        button {
            width: 100%;
            background-color: #3672eb;
            color: white;
            border-radius: 8px;
            border-style: none;
        }
    </style>
    <div class="container">

        <div>
            <img class="phone" src="/images/phone.png" />
        </div>

        <div></div>
        <div class="welcome">
            <center><h1>Welcome to Wuphf!</h1></center>
        </div>

        <div></div>

        <div></div>

        <div></div>

        <div></div>

        <div class="AccountContainer">
            <div></div>
            <div>
                <button>Create Account</button>
            </div> 
            <div>
                <button>Login</button>
            </div>
        </div>

    </div>
