@page "/login"
@using Wuphf.Shared
@using Wuphf.Shared.Session
@using Wuphf.Client.Models.Session
@using Wuphf.Client.Models.Dialog
@using Wuphf.Shared.Dialog
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject Session session
@inject IMsgBox MsgBox 
@inject Wuphf.Shared.Repository.Login.Login ViewModel

<div class="container">
    <div class="centered-username">

        <input placeholder="username" type="text" @bind-value="UserName" @onkeyup="Enter">
    </div>
    <div class="centered-password">
        <input placeholder="password" type="password" @bind-value="Password" @onkeyup="Enter" >
    </div>
    <div class="centered-create">
        <button type="button" class="btn btn-outline-primary btn-border centered-create" @onclick="OnLogin">Login</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-danger btn-border" @onclick="OnGoBack">Go back</button>
    </div>
</div>





@code {
    private string userName;
    public string UserName
    {
        get { return userName; }
        set { userName = value; }
    }
    private string password;
    public string Password
    {
        get { return password; }
        set { password = value; }
    }
    public async Task OnLogin()
    {
        if (string.IsNullOrEmpty(UserName) || string.IsNullOrEmpty(Password))
        {
            await MsgBox.Show("Username and Password are required.", "Wuphf Error", DialogButtons.OK);
            return;
        }

        var login = new LoginRequest() { UserName = UserName, Password = Password };
        var result = await Http.PostAsJsonAsync<LoginRequest>($"Account/{UserName}", login);
        if (!result.IsSuccessStatusCode)
        {
            System.Diagnostics.Debug.Print(result.ReasonPhrase);
            return;
        }
        var content = await result.Content.ReadAsStringAsync();
        Guid token = Guid.Empty;
        if (!string.IsNullOrEmpty(content) && !Guid.TryParse(content,out token))
        {
            await MsgBox.Show(content, "Wuphf Error", DialogButtons.OK);
            return;
        }
        session.UserName = UserName;
        session.Token = content;
        PubSub.Hub.Default.Publish<SessionStatusChangedEvent>(new SessionStatusChangedEvent() { Token = content });
        navigationManager.NavigateTo("Home");
    }
    public async void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await OnLogin();
        }
    }
    public void OnGoBack()
    {
        navigationManager.NavigateTo("");
    }
}
